body{
  background-color: #d4d4d4;
  color: #363636;
  font-family: Roboto,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  text-align: center;
}

.App-logo {

  height: 30px;
  position: relative;
  top:10px;
  left:5px;
}

.App-header {
  background-color: #222;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  z-index: 100;
}
.navbar{
  text-align: left;
  float: left;
}
.link{
  line-height: 40px;
}
a{
  color: white;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
}
.link-active{
  border-bottom: 1px solid white;
}
.login-container{
  float: right;
}
.login{

}
.App-body{
  margin-top: 80px;
  padding-bottom: 100px;
}
.nice-heading{
  font-weight: 200;
  color: black;
}
.subtitle{
  font-weight: 200;
  color:rgba(0,0,0,.7);
}
