.item-description{
  white-space: pre-wrap;

}
.item{
  margin: 5px;
  padding: 1px;
  transition: all 500ms;
  cursor: pointer;
  border-radius: 3px;
  position: relative;
}
.item-selected{
  background-color: #131296;
}
.item-selected *{
  color: white;
  font-weight: 800;
}
.item-bar{

  max-width: 400px;
  margin: 10px auto;
  padding: 10px;
  flex-grow: 1;

}
.item-bar-body{
  max-height: 800px;
  overflow-y: scroll;
}
.item-selected .item-delete, .item-selected .item-modify{
  color: white !important;
}
