.login-form-container{
  display: inline-block;
  padding: 0 30px;
  width: 100%;
max-width: 400px;
}
.login-form{
  max-width: 300px;
  margin: 40px auto;
}

.register-message a{
  font-size: 10px;
  text-decoration: none;
  color: blue;
}
.error {
  color:red;
}
