
.plan-listing{
display: flex;
flex-wrap: wrap;
}
.single-plan{
  max-width: 440px;
  margin: 10px auto;
  padding: 10px 20px;
  width: 100%;
}
.no-plans{
  max-width: 600px;
  margin: 30vh auto 0 auto;
  padding: 10px 20px;
}
