.plan-svg{

  border-radius: 3px;


  background-color: #050490;

}
.plan-container{

  display: block;
    max-width: 800px;
  margin: 10px auto;
}
.gridline{
  stroke:rgba(255, 255, 255, 0.18);
  stroke-width:1px;
  shape-rendering: geometricprecision;
}
.mouse-line{
  stroke: rgba(255,255,255,.5);
  stroke-width:2px;
}
